name: Build and Push Docker Image 

#on: 
#  push: 
#    branches: ["main"]
#  pull_request:
#    branches: ["main"]

jobs: 
  build: 
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with: 
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
      
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.REGISTRY }}/${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}
      
      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} .
      
      - name: Save Docker Image to Tar File
        run: | 
          docker save ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} -o image.tar

      - name: Save Docker Image as artifact
        uses: actions/upload-artifact@v4
        with: 
          name: docker-image
          path: image.tar
          if-no-files-found: error


  test: # run tests on the source code, not on container image
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Node
        uses: actions/setup-node@v3
        with: 
          node-version: '18'
      
      - name: Install Dependencies
        run: npm install

      - name: Start server in background
        run: node app.js &

      - name: Wait for server to start
        run: sleep 10

      - name: Test /health endpoint
        run: |
          for i in {1..10}; do
            curl -f http://localhost:8080/health && break
            sleep 2
          done

  deploy: # maybe you can use artifacts to pass data between jobs
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with: 
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}       
      
      - name: Download Image Artifact
        uses: actions/download-artifact@v5
        with:
          name: docker-image

      - name: Docker Load Image 
        run: | 
          docker load -i image.tar 
      
      - name: Push Docker Image
        run: | 
          docker tag ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }}
          docker push ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }}