name: Build and Push Docker Image 

on: 
  push: 
    branches: ["qa"]
  pull_request:
    branches: ["qa"]

jobs: 
  build: 
    runs-on: ubuntu-latest
    defaults: 
        run: 
          working-directory: container-node
    permissions:
      contents: read
      packages: write
    
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} .
      
      - name: Save Docker Image to Tar File
        run: | 
          docker save ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} -o image.tar

      - name: Save Docker Image as artifact
        uses: actions/upload-artifact@v4
        with: 
          name: docker-image
          path: container-node/image.tar
          if-no-files-found: error


  test:
    runs-on: ubuntu-latest
    needs: build
    defaults: 
        run: 
          working-directory: container-node
    permissions:
      contents: read
      packages: write
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Node
        uses: actions/setup-node@v3
        with: 
          node-version: '18'
      
      - name: Install Dependencies
        run: npm install

      - name: Start server in background
        run: node app.js &

      - name: Wait for server to start
        run: sleep 10

      - name: Test /health endpoint
        run: |
          for i in {1..10}; do
            curl -f http://localhost:8080/health && break
            sleep 2
          done

  deploy:
    runs-on: ubuntu-latest
    needs: test
    defaults: 
        run: 
          working-directory: container-node
    permissions:
      contents: read
      packages: write
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with: 
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}       
      
      - name: Download Image Artifact
        uses: actions/download-artifact@v5
        with:
          name: docker-image
          path: container-node

      - name: Docker Load Image 
        run: | 
          docker load -i image.tar 
      
      - name: Push Docker DEV and SHA image
        run: | 
          docker tag ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:qa
          docker push ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:qa
          docker push ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }}