name: Terraform Deploy

on: 
  workflow_dispatch: 
    inputs:
      target_job:
        description: 'which job to run'
        required: true
        default: 'build'
jobs:  
  build:
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod'
      permissions: 
        contents: read
        packages: write
      defaults: 
        run: 
          working-directory: container-node
      
      steps: 
        - name: Checkout repository
          uses: actions/checkout@v4
        
        - name: Set up docker buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Log in to docker hub
          uses: docker/login-action@v3
          with: 
              registry: ${{ secrets.REGISTRY }}
              username: ${{ secrets.USERNAME }}
              password: ${{ secrets.PASSWORD }}
        
        - name: Build Docker Image
          run: |
            docker build -t ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} .
        
        - name: Save Docker Image to Tar File
          run: | 
            docker save ${{ secrets.NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }} -o image.tar
        
        - name: Save Docker Image as artifact
          uses: actions/upload-artifact@v4
          with: 
            name: docker-image
            path: container-node/image.tar
            if-no-files-found: error
    
  test:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod'
    needs: build
    permissions:
      contents: read
      packages: write
    defaults: 
        run: 
          working-directory: container-node
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Node
        uses: actions/setup-node@v3
        with: 
          node-version: '18'
      
      - name: Install Dependencies
        run: npm install

      - name: Start server in background
        run: node app.js &

      - name: Wait for server to start
        run: sleep 10

      - name: Test /health endpoint
        run: |
          for i in {1..10}; do
            curl -f http://localhost:8080/health && break
            sleep 2
          done
    
  deploy-terraform:
    name: Deploy Infrastructure
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod'
    defaults:
      run:
        working-directory: infra
    steps: 
      - name: checkout code
        uses: actions/checkout@v4
      
      - name: setup terraform 
        uses: hashicorp/setup-terraform@v3
        with: 
            terraform_version: 1.6.6

      - name: terraform init 
        run: terraform init

      - name: terraform plan
        run: terraform plan 
      
      - name: terraform apply
        run: terraform apply -auto-approve